body {
    font-family: Arial;
    color: black;
}

.split {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.left {
    left: 0;
    background-color: #d6e6d8;
    width:30%
}

.right {
    right: 0;
    background-color: #ffffff;
    width: 70%
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

    .centered img {
        width: 150px;
        border-radius: 50%;
    }


input[type=text] {
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
    outline: none;
}

input[type=password] {
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
    outline: none;
}

